table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border: 1px solid #ddd;
}
table th{
    background-color: green;
    color:white;
    padding:30px;
    border: 1px solid #ddd;
    text-align: center;
}
table tr:nth-child(even){
    background-color: #f2f2f2;
}
table td{
    font-style: italic;
    font-family: sans-serif;
    text-align: center;
    padding:30px;
}
#s{
    position:absolute;
    margin-top:-1%;
    margin-left:15%;
    font-family: sans-serif;

}
#k{
    position:absolute;
    margin-top:-1.5%;
    margin-left:15%;
    font-family: sans-serif;

}
[class*="col-"] {
  width: 100%;
}
.he{
 font-family: sans-serif;
}